<div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <strong class="d-block text-gray-dark input-group mb-3 ">Current Account Balance:</strong>
        <label class="form-control mr-sm-2 font-weight-bold border-white" id="acct_balance">{{acct_amount}}</label>
    </p>
</div>