<form class="form-signin" id="theform">
    <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Seneca_College_logo.svg" alt=""
        width="280" height="65">
    <h1 class="h3 mb-3 font-weight-normal">WEB322- WEB BANK</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" id="btnsubmit" type="button">Sign in</button>
    <button class="btn btn-lg btn-info btn-block" id="btnregister" type="button">Register</button>
    <p class="mt-5 mb-3 text-muted" id="msg">&nbsp;</p>
</form>