<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <img class="mb-4" src="https://upload.wikimedia.org/wikipedia/commons/f/f0/Seneca_College_logo.svg" alt=""
        width="180" height="40">

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <span class="nav-link">WEB BANK <span class="sr-only">(current)</span></span>
            </li>
        </ul>
        <a class="nav-link text-white-50" href="/logout" data-hover="Logout">{{user}}</a>
    </div>
</nav>

<div class="nav-scroller">

</div>