{{> nav}}
<main role="main" class="container">
    {{> title}}
    <div class="my-3 p-3 bg-white rounded box-shadow">
        {{> acct_id}}
        {{> acct_type}}
        {{> acct_balance}}
        {{> acct_msg}}
        <small class="d-block text-center mt-3">
            {{> btn_ok}}
        </small>
    </div>
</main>
<link rel="stylesheet" type="text/css" href="css/profile.css" />
<script src="js/balance.js"></script>